{% extends 'nomadblog/base.html' %}

{% block nomadblog %}
<h1>Category list</h1>
<ul id="categories-list">
{% for cat in categories %}
    <li>
    {% if multiblog %}
    <a href="{% url list_posts_by_category bloguser__blog.slug cat.name %}" class="link-categories">{{ cat.name }}</a>
    {% else %}
    <a href="{% url list_posts_by_category cat.name %}" class="link-categories">{{ cat.name }}</a>
    {% endif %}
    </li>
{% empty %}
    <li>Sorry, no categories found.</li>
{% endfor %}
</ul>
{% endblock %}

