{% extends 'nomadblog/base.html' %}

{% block nomadblog %}
<div class="entry">
    <h1>{{ post.title }}</h1>
    <p><em>Published on {{ post.pub_date|date }}</em></p>
    <p>Author: <strong>{{ post.bloguser.user }}</strong></p>
    <p>Status: {{ post.get_status_display }}</p>
    <p>{{ post.content }}</p>
</div>
<div class="post-meta">
    <p>Categorized under 
    {% if multiblog %}
    <a href="{% url list_posts_by_category post.bloguser.blog.slug post.category.name %}" class="link-categories">{{ post.category.name }}</a>
    {% else %}
    <a href="{% url list_posts_by_category post.category.name %}" class="link-categories">{{ post.category.name }}</a>
    {% endif %}
    </p>
</div>
{% endblock %}
